#python cache 
__pycache__/
.pytest_cache/

#VSCode folder
.vscode

#configuration files
.env
.env.template

#gitignore
.gitignore
.git

#docker
Dockerfile

#geckodriver
geckodriver.log

#documentation
README.md

#vagrant
.vagrant
Vagrantfile




