{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in viewModel.items %}
          <li style="list-style-type: none;">
            <form action="{{url_for('removeItem')}}" method="POST" style="display: inline;">
              <input type="hidden" id="id" name="id" value={{item.id}} />
              <button type="submit" style="border: none; background-color:rgba(0, 0, 0, 0);">
                <i class="fas fa-trash-alt" style="color:red;"></i>
              </button>
            </form>
            <form action="{{url_for('toggleStatus')}}" method="POST" style="display: inline;">
              <input type="hidden" id="id" name="id" value={{item.id}} />
              <button type="submit" style="border: none; background-color:rgba(0, 0, 0, 0);">
                {% if item.status == 'Completed' %} 
                  <i class="far fa-check-square"></i>
                {% else %}
                  <i class="far fa-square"></i>
                {% endif %}
              </button>
              {{ item.title }}
            </form>
          </li>         
        {% endfor %}
        <form action="{{url_for('addItem')}}" method="POST">
          <button type="submit"  style="background-color:rgba(0, 0, 0, 0);"><i class="fas fa-plus"></i></button>
          <input type="text" id="title" name="title" required>
        </form>
      </ul>
    </div>
  </div>
{% endblock %}